/*
Aptible API v1

REST API for the core Aptible platform.

API version: v1
Contact: support@aptible.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package aptibleapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// DiskAttachmentsAPIService DiskAttachmentsAPI service
type DiskAttachmentsAPIService service

type ApiGetDiskAttachmentRequest struct {
	ctx context.Context
	ApiService *DiskAttachmentsAPIService
	id int32
	withDeleted *bool
	noEmbed *bool
	prefer *string
}

// include soft-deleted records
func (r ApiGetDiskAttachmentRequest) WithDeleted(withDeleted bool) ApiGetDiskAttachmentRequest {
	r.withDeleted = &withDeleted
	return r
}

// When true, omits embedded resources from the response. Also triggered when the Prefer: no_sensitive_extras&#x3D;true header is present.
func (r ApiGetDiskAttachmentRequest) NoEmbed(noEmbed bool) ApiGetDiskAttachmentRequest {
	r.noEmbed = &noEmbed
	return r
}

// When set to no_sensitive_extras&#x3D;true, omits sensitive fields and embedded resources from the response.
func (r ApiGetDiskAttachmentRequest) Prefer(prefer string) ApiGetDiskAttachmentRequest {
	r.prefer = &prefer
	return r
}

func (r ApiGetDiskAttachmentRequest) Execute() (*DiskAttachment, *http.Response, error) {
	return r.ApiService.GetDiskAttachmentExecute(r)
}

/*
GetDiskAttachment show disk attachment

Returns the details of a specific disk attachment by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id id
 @return ApiGetDiskAttachmentRequest
*/
func (a *DiskAttachmentsAPIService) GetDiskAttachment(ctx context.Context, id int32) ApiGetDiskAttachmentRequest {
	return ApiGetDiskAttachmentRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return DiskAttachment
func (a *DiskAttachmentsAPIService) GetDiskAttachmentExecute(r ApiGetDiskAttachmentRequest) (*DiskAttachment, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DiskAttachment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DiskAttachmentsAPIService.GetDiskAttachment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/disk_attachments/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.withDeleted != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "with_deleted", r.withDeleted, "form", "")
	}
	if r.noEmbed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "no_embed", r.noEmbed, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/hal+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.prefer != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Prefer", r.prefer, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListDiskAttachmentsRequest struct {
	ctx context.Context
	ApiService *DiskAttachmentsAPIService
	page *int32
	perPage *int32
	noEmbed *bool
	prefer *string
}

// Current page of paginated results
func (r ApiListDiskAttachmentsRequest) Page(page int32) ApiListDiskAttachmentsRequest {
	r.page = &page
	return r
}

// Number of results to return per page
func (r ApiListDiskAttachmentsRequest) PerPage(perPage int32) ApiListDiskAttachmentsRequest {
	r.perPage = &perPage
	return r
}

// When true, omits embedded resources from the response. Also triggered when the Prefer: no_sensitive_extras&#x3D;true header is present.
func (r ApiListDiskAttachmentsRequest) NoEmbed(noEmbed bool) ApiListDiskAttachmentsRequest {
	r.noEmbed = &noEmbed
	return r
}

// When set to no_sensitive_extras&#x3D;true, omits sensitive fields and embedded resources from the response.
func (r ApiListDiskAttachmentsRequest) Prefer(prefer string) ApiListDiskAttachmentsRequest {
	r.prefer = &prefer
	return r
}

func (r ApiListDiskAttachmentsRequest) Execute() (*ListDiskAttachments200Response, *http.Response, error) {
	return r.ApiService.ListDiskAttachmentsExecute(r)
}

/*
ListDiskAttachments list disk attachments

Returns a paginated list of all disk attachments.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListDiskAttachmentsRequest
*/
func (a *DiskAttachmentsAPIService) ListDiskAttachments(ctx context.Context) ApiListDiskAttachmentsRequest {
	return ApiListDiskAttachmentsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListDiskAttachments200Response
func (a *DiskAttachmentsAPIService) ListDiskAttachmentsExecute(r ApiListDiskAttachmentsRequest) (*ListDiskAttachments200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListDiskAttachments200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DiskAttachmentsAPIService.ListDiskAttachments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/disk_attachments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	}
	if r.noEmbed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "no_embed", r.noEmbed, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/hal+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.prefer != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Prefer", r.prefer, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListDiskAttachmentsForAccountRequest struct {
	ctx context.Context
	ApiService *DiskAttachmentsAPIService
	accountId int32
	page *int32
	perPage *int32
	noEmbed *bool
	prefer *string
}

// Current page of paginated results
func (r ApiListDiskAttachmentsForAccountRequest) Page(page int32) ApiListDiskAttachmentsForAccountRequest {
	r.page = &page
	return r
}

// Number of results to return per page
func (r ApiListDiskAttachmentsForAccountRequest) PerPage(perPage int32) ApiListDiskAttachmentsForAccountRequest {
	r.perPage = &perPage
	return r
}

// When true, omits embedded resources from the response. Also triggered when the Prefer: no_sensitive_extras&#x3D;true header is present.
func (r ApiListDiskAttachmentsForAccountRequest) NoEmbed(noEmbed bool) ApiListDiskAttachmentsForAccountRequest {
	r.noEmbed = &noEmbed
	return r
}

// When set to no_sensitive_extras&#x3D;true, omits sensitive fields and embedded resources from the response.
func (r ApiListDiskAttachmentsForAccountRequest) Prefer(prefer string) ApiListDiskAttachmentsForAccountRequest {
	r.prefer = &prefer
	return r
}

func (r ApiListDiskAttachmentsForAccountRequest) Execute() (*ListDiskAttachmentsForAccount200Response, *http.Response, error) {
	return r.ApiService.ListDiskAttachmentsForAccountExecute(r)
}

/*
ListDiskAttachmentsForAccount list disk attachments

Returns a paginated list of disk attachments for the specified account.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId account_id
 @return ApiListDiskAttachmentsForAccountRequest
*/
func (a *DiskAttachmentsAPIService) ListDiskAttachmentsForAccount(ctx context.Context, accountId int32) ApiListDiskAttachmentsForAccountRequest {
	return ApiListDiskAttachmentsForAccountRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
	}
}

// Execute executes the request
//  @return ListDiskAttachmentsForAccount200Response
func (a *DiskAttachmentsAPIService) ListDiskAttachmentsForAccountExecute(r ApiListDiskAttachmentsForAccountRequest) (*ListDiskAttachmentsForAccount200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListDiskAttachmentsForAccount200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DiskAttachmentsAPIService.ListDiskAttachmentsForAccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounts/{account_id}/disk_attachments"
	localVarPath = strings.Replace(localVarPath, "{"+"account_id"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	}
	if r.noEmbed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "no_embed", r.noEmbed, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/hal+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.prefer != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Prefer", r.prefer, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListDiskAttachmentsForPersistentDiskRequest struct {
	ctx context.Context
	ApiService *DiskAttachmentsAPIService
	persistentDiskId int32
	page *int32
	perPage *int32
	noEmbed *bool
	prefer *string
}

// Current page of paginated results
func (r ApiListDiskAttachmentsForPersistentDiskRequest) Page(page int32) ApiListDiskAttachmentsForPersistentDiskRequest {
	r.page = &page
	return r
}

// Number of results to return per page
func (r ApiListDiskAttachmentsForPersistentDiskRequest) PerPage(perPage int32) ApiListDiskAttachmentsForPersistentDiskRequest {
	r.perPage = &perPage
	return r
}

// When true, omits embedded resources from the response. Also triggered when the Prefer: no_sensitive_extras&#x3D;true header is present.
func (r ApiListDiskAttachmentsForPersistentDiskRequest) NoEmbed(noEmbed bool) ApiListDiskAttachmentsForPersistentDiskRequest {
	r.noEmbed = &noEmbed
	return r
}

// When set to no_sensitive_extras&#x3D;true, omits sensitive fields and embedded resources from the response.
func (r ApiListDiskAttachmentsForPersistentDiskRequest) Prefer(prefer string) ApiListDiskAttachmentsForPersistentDiskRequest {
	r.prefer = &prefer
	return r
}

func (r ApiListDiskAttachmentsForPersistentDiskRequest) Execute() (*ListDiskAttachmentsForPersistentDisk200Response, *http.Response, error) {
	return r.ApiService.ListDiskAttachmentsForPersistentDiskExecute(r)
}

/*
ListDiskAttachmentsForPersistentDisk list disk attachments

Returns a paginated list of disk attachments for the specified persistent disk.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param persistentDiskId persistent_disk_id
 @return ApiListDiskAttachmentsForPersistentDiskRequest
*/
func (a *DiskAttachmentsAPIService) ListDiskAttachmentsForPersistentDisk(ctx context.Context, persistentDiskId int32) ApiListDiskAttachmentsForPersistentDiskRequest {
	return ApiListDiskAttachmentsForPersistentDiskRequest{
		ApiService: a,
		ctx: ctx,
		persistentDiskId: persistentDiskId,
	}
}

// Execute executes the request
//  @return ListDiskAttachmentsForPersistentDisk200Response
func (a *DiskAttachmentsAPIService) ListDiskAttachmentsForPersistentDiskExecute(r ApiListDiskAttachmentsForPersistentDiskRequest) (*ListDiskAttachmentsForPersistentDisk200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListDiskAttachmentsForPersistentDisk200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DiskAttachmentsAPIService.ListDiskAttachmentsForPersistentDisk")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/persistent_disks/{persistent_disk_id}/disk_attachments"
	localVarPath = strings.Replace(localVarPath, "{"+"persistent_disk_id"+"}", url.PathEscape(parameterValueToString(r.persistentDiskId, "persistentDiskId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	}
	if r.noEmbed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "no_embed", r.noEmbed, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/hal+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.prefer != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Prefer", r.prefer, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListDiskAttachmentsForServiceRequest struct {
	ctx context.Context
	ApiService *DiskAttachmentsAPIService
	serviceId int32
	page *int32
	perPage *int32
	noEmbed *bool
	prefer *string
}

// Current page of paginated results
func (r ApiListDiskAttachmentsForServiceRequest) Page(page int32) ApiListDiskAttachmentsForServiceRequest {
	r.page = &page
	return r
}

// Number of results to return per page
func (r ApiListDiskAttachmentsForServiceRequest) PerPage(perPage int32) ApiListDiskAttachmentsForServiceRequest {
	r.perPage = &perPage
	return r
}

// When true, omits embedded resources from the response. Also triggered when the Prefer: no_sensitive_extras&#x3D;true header is present.
func (r ApiListDiskAttachmentsForServiceRequest) NoEmbed(noEmbed bool) ApiListDiskAttachmentsForServiceRequest {
	r.noEmbed = &noEmbed
	return r
}

// When set to no_sensitive_extras&#x3D;true, omits sensitive fields and embedded resources from the response.
func (r ApiListDiskAttachmentsForServiceRequest) Prefer(prefer string) ApiListDiskAttachmentsForServiceRequest {
	r.prefer = &prefer
	return r
}

func (r ApiListDiskAttachmentsForServiceRequest) Execute() (*ListDiskAttachmentsForService200Response, *http.Response, error) {
	return r.ApiService.ListDiskAttachmentsForServiceExecute(r)
}

/*
ListDiskAttachmentsForService list disk attachments

Returns a paginated list of disk attachments for the specified service.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serviceId service_id
 @return ApiListDiskAttachmentsForServiceRequest
*/
func (a *DiskAttachmentsAPIService) ListDiskAttachmentsForService(ctx context.Context, serviceId int32) ApiListDiskAttachmentsForServiceRequest {
	return ApiListDiskAttachmentsForServiceRequest{
		ApiService: a,
		ctx: ctx,
		serviceId: serviceId,
	}
}

// Execute executes the request
//  @return ListDiskAttachmentsForService200Response
func (a *DiskAttachmentsAPIService) ListDiskAttachmentsForServiceExecute(r ApiListDiskAttachmentsForServiceRequest) (*ListDiskAttachmentsForService200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListDiskAttachmentsForService200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DiskAttachmentsAPIService.ListDiskAttachmentsForService")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/services/{service_id}/disk_attachments"
	localVarPath = strings.Replace(localVarPath, "{"+"service_id"+"}", url.PathEscape(parameterValueToString(r.serviceId, "serviceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	}
	if r.noEmbed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "no_embed", r.noEmbed, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/hal+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.prefer != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Prefer", r.prefer, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
